*, span  {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    font: 12px/1.5 Microsoft YaHei,Heiti SC,tahoma,arial,Hiragino Sans GB,"\5B8B\4F53",sans-serif;
    color: rgb(18, 18, 18);
}

.top {
    display: block;
    line-height: 30px;
    /* font-size: 0; */
}
.w {
    margin: auto;
    width: 1190px;
}

.nav {
    /* 去除span之间的空格 */
    font-size: 0;
    height: 30px;
    background-color: #e3e4e5;
    border-bottom: 1px #e3e4e5;
}

.nav .left {
    display: inline-block;
    background-color: hotpink;
    /* 使用inline-block 才能转变block 从而有长度等概念 */
    width: 190px;
    text-align: left;
    font-size: 14px;
}

.nav .center {
    display: inline-block;
    background-color: #333;
    /* 使用inline-block 才能转变block 从而有长度等概念 */
    width: 800px;
    text-align: center;
    font-size: 14px;
}

/* 转换ul li */
.nav .center ul li {
    display: inline-block;
    background-color: indigo;
    width: 190px;
    color:#e3e4e5;
}

.nav .right {
    /* display: block; */
    display: inline-block;
    background-color: hotpink;
    /* 使用inline-block 才能转变block 从而有长度等概念 */
    width: 200px;
    text-align: right;
    /* float: right; */
    font-size: 14px;
}

.header {
    background-color: burlywood;
    height: 100px;
    margin: 10 auto;
    text-align: center;
    line-height: 100px;
}

.content {
    background-color: green;
    margin: 0 auto;
    border: 1px , red;
}

.content::after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* list 内容显示 */
.content ul li {
    display: block;
    float: left;
    /* 使用相对定位，子才能使用absolute定位进行定位处理 */
    position: relative;
    background-color: #333;
    width: 215px;
    height: 250px;
    color:#e3e4e5;
    margin: 10px;
    text-align: center;
    border: 1px solid;
    margin: 20px 10px;
    /* padding: 5px; */
}

.content ul li h6 {
    font-size: large;
}
.content ul li .mark {
    color: red;
    font-size: 20px;
    position: absolute;
    top: -12px;
    right: -5px;
}
.content ul li div {
   padding: 10px;
}
.content ul li span {
   padding: 10px;
}
.content ul li div {
   padding: 10px;
}

/* 清除浮动 */
.clear {
    clear: both;
}

.footer {
    background-color: red;
    height: 100px;
    margin: 0 auto;
    text-align: center;
    line-height: 100px;
    vertical-align: bottom;
}


