
* {
  margin: 0;
}

li {
    list-style: none;
}

a {
    /* 去除连接的下划线 */
    text-decoration: none; 
}

.w {
    width: 980px;
    margin: auto;
}

.header {
    height: 42px;
    background-color: greenyellow;
    margin: 30px auto;
}

.logo {
    float: left;
    width: 200px;
    height: 42px;
    background-color: gold;
}

.nav {
    float: left;
    background-color: blue;
}

.nav ul li {
    float: left;
    margin: 0 10px;
}

.nav ul li a {
    /* display: block; */
    height: 42px;
    padding: 0 10px;
    line-height: 42px;
    font-size: 18px;
    color: black;
}

.nav ul li a:hover {
    border-bottom: 2px solid #00aaff;
    color: #00aaff;
}

.search {
    display: block;
    width: 298px;
    float: left;
    background-color: red;
    margin-left: 20px;
    height: 42px;
}

.search input {
    float: left;

    width: 230px;
    height: 38px;
    border: 1px solid #00aaff;
    border-right: 0;

    color: grey;
    font-size: 14px;
    padding-left: 15px;
}

.search button {
    float: left;
    width: 50px;
    height: 42px;
    border: 0;
    background-color: blueviolet;
}

.user {
    float: right;
    height: 42px;
    line-height:42px;
    margin-right: 10px;
    font-size: 14px;
    color: #666;
}

.name {
    float: right;
    line-height: 42px;
    height: 42px;
    text-align: center;
    margin-left: 10px;
}